VisComp/
AULA 2/03-SpectralFiltering.pptx
AULA 2/~$03-SpectralFiltering.pptx
AULA 3/04-ImageSegmentation.pptx
AULA 3/~$04-ImageSegmentation.pptx
AULA 8/gtsrb_datasets
AULA 8/data
AULA 9/dogsVScats/dogsVScats
AULA 10/Transfer Learning start/dogsVScats
AULA 10/Transfer Learning start/dogs_vs_cats.png
AULA 10/Transfer Learning start/dogsvscatsweights
AULA 10/Transfer Learning start/util
AULA 11/anomaly
AULA 12/celebASubset